// Variables
$container-max-width: 512px;

// Import Sakura CSS
@import '../../node_modules/sakura.css/scss/sakura-dark';

// Import custom styles
@import './custom';

// Custom styles
html {
  body {
    // Container styles
    .section .container {
      max-width: $container-max-width;

      // Widescreen override
      @media screen and (min-width: 1408px) {
        &:not(.is-max-desktop),
        &:not(.is-max-widescreen) {
          max-width: $container-max-width;
        }
      }
    }

    // Modal styles
    .section .container .modal .modal-content {
      @media screen and (max-width: $container-max-width) {
        &:not(.is-max-desktop),
        &:not(.is-max-widescreen) {
          max-height: unset;
        }
      }

      .modal-card {
        max-width: $container-max-width;

        @media screen and (max-width: $container-max-width) {
          &:not(.is-max-desktop),
          &:not(.is-max-widescreen) {
            max-width: 90vw;
            margin: 0 auto;
            max-height: unset;
          }
        }
      }
    }

    // Utility classes
    .notification,
    .field {
      margin-bottom: 1rem;
    }
  }
}