@import '../../node_modules/bulma/bulma';
$widescreen-enabled: true;
$fullhd-enabled: true;
$container-max-width: 512px;

html {
    body {

        .section .container {
            max-width: $container-max-width;

            // Override
            @media screen and (min-width: 1408px) {

                &:not(.is-max-desktop),
                &:not(.is-max-widescreen) {
                    max-width: $container-max-width;
                }
            }
        }

        // Override
        .section .container .modal .modal-content {
            @media screen and (max-width: $container-max-width) {

                &:not(.is-max-desktop),
                &:not(.is-max-widescreen) {
                    max-height: unset;
                }
            }

            .modal-card {
                max-width: $container-max-width;

                @media screen and (max-width: $container-max-width) {

                    &:not(.is-max-desktop),
                    &:not(.is-max-widescreen) {
                        max-width: 90vw;
                        margin: 0 auto;
                        max-height: unset;
                    }
                }
            }
        }

        .notification,
        .field {
            margin-bottom: 1rem;
        }
    }
}